<h5 class="card-title text-center mt-5">Edit User</h5>
<div class="container text-bg-light p-3" >
  <div class="card mx-auto mt-3 card shadow-0 border rounded-4 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 400px;">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <div class="text-danger"><%= resource.errors[:email].first %></div>
        </div>
        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <div class="text-danger"><%= resource.errors[:password].first %></div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          <div class="text-danger"><%= resource.errors[:password_confirmation].first %></div>
        </div>
        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
          <div class="text-danger"><%= resource.errors[:current_password].first %></div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-group text-center mt-3">
          <%=f.submit "Update", class: "btn btn-primary"%>
          <%= link_to "Back", :back ,class: "btn btn-secondary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
