<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <%= user_image(@user) %>
                </div>
                <h6 class="f-w-600"><%=@user.full_name %></h6>
                <p>User</p>
                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                <div class="row">
                  <div class="col-sm-4">
                    <%= link_to "Edit",edit_user_registration_path	,class:"btn btn-outline-secondary btn-sm"  %>
                  </div>
                  <div class="col-sm-4">
                    <%= button_to "Delete", registration_path(User), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,class:"btn btn-outline-danger btn-sm"  %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-8">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400"><%=@user.email %></h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Phone Number</p>
                    <h6 class="text-muted f-w-400"><%=@user.phone_no %></h6>
                  </div>
                  <div class="col-sm-12">
                    <% unless @user.address.blank?%>
                      <p class="m-b-10 f-w-600">Address</p>
                      <h6 class="text-muted f-w-400"><%=@user.address %></h6>
                    <% end %>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                <div class="row">
                  <div class="col-sm-6">
                    <%= link_to "My Bookings",user_reservations_path,class:"btn btn-primary"  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
