<h5 class="card-title text-center mt-5">Edit Password</h5>
<div class="container text-bg-light p-3" >
  <div class="card mx-auto mt-3 card shadow-0 border rounded-4 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 400px;">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
          <div class="text-danger"><%= resource.errors[:password].first %></div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          <div class="text-danger"><%= resource.errors[:password_confirmation].first %></div>
        </div>
        <div class="form-group text-center mt-3">
          <%= f.submit "Change my password",class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
