<h1>Name:  <%= @bus.name %></h1>
<h1>Registration no: <%= @bus.registration_no %></h1>
<h1>Source Route: <%= @bus.source_route %></h1>
<h1>Destination Route: <%= @bus.destination_route %></h1>
<% if policy(@bus).show?|| policy(User).admin?  %>
  status: <%= @bus.status  %>
<% end %>
<% if policy(User).admin? %>
  <% if  @bus.approved?%>
    <%= link_to "Reject",  reject_bus_path(@bus),class:"btn btn-danger"%>
  <% else%>
    <%= link_to "Approve", approve_bus_path(@bus) ,class:"btn btn-primary"%>  <% end %>
<% end %>
<% if @bus.approved? %>
  <%= link_to "View Seats", new_bus_reservation_path(@bus)%>
<% end %>
